@import "tailwindcss";
@layer bsae{
html{
    @apply scroll-smooth;
}
body{
    background: black;
    color : teal;
}
}
@layer utilities {
    .scroll-thin::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  
    .scroll-thin::-webkit-scrollbar-thumb {
      border-radius: 10px;
    }
  }
